:host {
  display: block;
}


h1 {
  font-size: 40px;
}

.styled-title {
  background-image: url("https://assets-global.website-files.com/625aea37d2019e1dd7782064/626293a2c28ce140ff9cc1ea_Vector%201.svg");
  background-position: 0 110%;
  background-size: 10em;
  background-repeat: no-repeat;
}