:host {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #fff;
}

nav {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
  }
  li {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 0px 20px;
  }
}

